.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Postfeed {
  border-color: #222;
  border-width: 10px;
  border-style: solid;
  background-color: chartreuse;
  height: 90%;
  width: 80%;
}

.Post {
  height: 20%;
  width: 80%;
  align-self: center;
  background-color: brown;
  border-color: black;
  border-width: 30px;
}

.Icon {
  height: 50px;
  width: 50px;
}

.Photo {
  height: 100px;
  width: 100px;
}