.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Postfeed {

  border-color: #222;
  border-width: 2px;
  border-style: solid;
  background-color: #EBEAE7;
  height: 90%;
  width: 100%;
}

.Post {
  height: 100%;
  width: 35%;
  align-self: center;
  background-color:#ADE1F0;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-bottom: 0px;
  padding-bottom: 30px;
  padding-top: 10px;

}

.Icon {
  height: 30px;
  width: 30px;
}

.Photo {
  height: 150px;
  width: 150px;
}

.Usericon {
  float: left;
  padding-left: 50px;
  padding-top: 20px;
}

.Username {
  float: left;
  padding-left: 10px;
  padding-top: 20px;
  font-size: 1.8em;
}

.PostPhoto {
  padding-top: 70px;
}

.Description {
  padding-top: 40px;
  width: 150px;
}

.Likes {
  float: left;
  padding-left: 20px;
  padding-top: 10px;
  color: rgb(52, 27, 212);
  font-size: 1.2em;
}

.LikeButton {
  height: 20px;
  width: 20px;
  float: left;
  padding-left: 200px;
  padding-top: 10px;
}